.heading {
  font-family: 'Satisfy';
  color: #F5F5F5;
  font-size: 450%;
  margin: 0.3em;
}



.fullwrap {
  border-radius: 0.6em;
  width: 90vw;
  height: 80%;
  margin-top: 0;
  margin-left: 5%;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.wrapper {
  border-radius: 0.6em;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 2%;
  background-color: whitesmoke;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.search {
  background-color: chartreuse;
  min-width: 650;
  width: 40vw;
  height: 10vh;
  border-radius: 0.2em;

}

.search2 {
  background-color: #548CFF;
  min-width: 650;
  width: 40vw;
  height: 10vh;
  border-radius: 0.2em;

}


.recents {
  border-radius: 0.2em;
  overflow: scroll;
  overflow-x: hidden;
  background-color: gainsboro;
  width: 40vw;
  height: 55vh;
}

.stats {
  border-radius: 0.2em;
  overflow: scroll;
  overflow-x: hidden;
  background-color: rgb(255, 255, 255);
  width: 40vw;
  height: 68vh;
}

.transac {
  background-color: #393E46;
  border-radius: 0.3em;
  height: 15%;
  width: 95%;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.transac2 {
  background-color: #F6F5F5;
  border-radius: 0.3em;
  height: 15%;
  width: 95%;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.transac3 {
  background-color: #393E46;
  border-radius: 0.3em;
  height: 25%;
  width: 95%;
  margin-left: 3%;
  margin-top: 2%;
  margin-bottom: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.result {
  padding-top: 1%;
  background-color: #323643;
  border-radius: 0.3em;
  height: 75%;
  width: 95%;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 10px;
  color: white;

}

.footer {
  color: darkslategrey;
  margin: 10px;
  width: 40vw;
  height: 11vh;
}

.logout {
  color: #F5F5F5;
  font-size: 200%;
  text-align: right;
  height: max-content;
}

.logout:hover {
  color: chartreuse;
  cursor: pointer;
}

.addstudent {
  margin-top: -5%;
  color: #F5F5F5;
  font-size: 200%;
  text-align: left;
  height: max-content;
}

.addstudent:hover {
  color: #548CFF;
  cursor: pointer;
}

.loader {
  color: #548CFF;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }

  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }

  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }

  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }

  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }

  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }

  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}